{% load bootstrap_icons %}
<div
  class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center lg:pl-64"
  id="modal-id">
  <div class="w-auto mx-auto max-w-xl lg:w-full">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--body-->
      <div class="p-6 flex-auto text-center">
        {% bs_icon 'x-circle' extra_classes='mx-auto my-5' color='red' size='3.5em' %}

        <h3 class="mb-5 text-lg font-bold">
          ¿Estás seguro que quieres eliminar este registro?
        </h3>
        <p class="mb-5 text-lg">Este proceso no puede ser revertido</p>
      </div>
      <!--footer-->
      <div class="flex items-center justify-between p-6 border-t border-solid border-slate-200 rounded-b">
        <button
          class="bg-slate-200 active:bg-slate-400 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" onclick="toggleModal('modal-id')">
          Cancelar
        </button>

        <a id="btn-eliminar"
          class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          href="#" onclick="confirmDelete()">
          Eliminar
        </a>
      </div>
    </div>
  </div>
</div>

<div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
<script type="text/javascript">
  function confirmDelete() {
    const btnEliminar = document.getElementById("btn-eliminar");
    const deleteURL = btnEliminar.getAttribute("href");

    // Execute the delete action
    window.location.href = deleteURL;
  }

  function toggleModal(modalID, deleteURL = '') {
    const modal = document.getElementById(modalID);
    const btnEliminar = document.getElementById("btn-eliminar");
    btnEliminar.setAttribute("href", deleteURL);

    modal.classList.toggle("hidden");
    document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
    modal.classList.toggle("flex");
    document.getElementById(modalID + "-backdrop").classList.toggle("flex");
  }

</script>
